p /*directly specifing element like (paragraph "p")*/
{
	background-color:lightpink;
	color:blueviolet;
	font-size:20px;
	padding:20px;



}

.cl /*while giving in Class*/
{
	background-color: green;
	color:black;


}

#heading /*While giving in Id*/
{
	background-color: rgb(0, 255, 64, 0.25);
	color:#ff0000;
	border: 4px blue dashed;
	padding:20px;
	margin:100px;


}

/**{

	background-color: pink;
	background-image: url("https://images.unsplash.com/photo-1628694647734-bf4aedeede1e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80");




}*/